.btn {
    width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
    height: 3rem;
}

.resumen_container {
    margin-top: 2rem;
    padding: 16px;
    width: 90%;
    margin-left: 5%;
    border-radius: 500px;
    -moz-box-shadow: -3.5px 3px 3px 3px #dfd2bd;
    ;
    -webkit-box-shadow: -3.5px 3px 3px 3px #dfd2bd;
    ;
    box-shadow: -3.5px 3px 3px 3px #dfd2bd;
    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab_title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
}

.tab-sub {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;
}