.input {
    border-bottom: rgb(202, 201, 201) 1px solid;
}

.margin {
    width: 90%;
    margin-left: 5%;
}

.box {
    background: white;
    border-radius: 25px;
    width: 80%;
    padding: 2rem 0;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error-message {
    color: red;
    text-align: left;
    margin-left: 2rem;
    font-size: 12px;
}