h2 {
    font-weight: 700;
    color: black;
    margin-left: 0.5rem;
}

.saldo {
    text-align: center;
    font-weight: 700;
}

.saldoPositivo {
    color: green;
}

.saldoNegativo {
    color: red;
}